.page {
  padding: 8rem 0rem;
  font-family: "Sans-Serif Workhorse";
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  padding: 0 4rem;
  margin: 0 0 2rem 0;
  background-image: linear-gradient(
    rgb(0, 161, 155, 0) 10%,
    rgb(0, 161, 155, 0.1) 30%,
    rgb(0, 161, 155, 0.15) 50%,
    rgb(0, 161, 155, 0.1) 70%,
    rgb(0, 161, 155, 0) 90%
  );
}

.title h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: 500;
}

.divider {
  border: none;
  width: 90%;
  border-bottom: 1px solid #d3d3d3;
}

.northeastern {
  display: flex;
  padding: 2rem 4rem;
}

.northeastern .text {
  display: block;
  text-align: left;
  margin: 0 0 0 5rem;
}

.northeastern .img {
  margin: 0 0 0 30rem;
}

.athenian {
  display: flex;
  padding: 2rem 4rem;
}

.athenian .text {
  display: block;
  text-align: left;
}

.athenian .img {
  margin: 0 5rem 0 0;
}

.img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 2%;
  overflow: hidden;
}

.img Image {
  max-width: 100%;
  max-height: 100%;
}

.description p {
  margin: 0;
}
