.title {
  display: inline-block;
  margin: 0 1rem;
}

.titletext {
  display: block;
  padding: 15rem 6rem;
  text-align: left;
  font-family: "Sans-Serif Workhorse";
}

.titletext h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  opacity: 0.7;
}

.titletext h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 5.5rem;
}
