.home {
  font-family: "Sans-Serif Workhorse";
  background-image: linear-gradient(
    white 12%,
    rgb(0, 161, 155, 0) 10%,
    rgb(0, 161, 155, 0.25) 40%,
    rgb(0, 161, 155, 0)
  );
}

.title {
  padding: 2rem 0 1rem 0;
  display: inline-block;
}

.titletext {
  display: block;
  padding: 15rem 6rem 4rem 8rem;
  text-align: left;
}

.titletext h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  opacity: 0.7;
}

.titletext h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 5.5rem;
}

.learnmore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 0 0 16rem 0;
}
